// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.tasks__index-button, .tasks__index-table-button, .tasks__show, .tasks__form-button
  text-align: right

.tasks__new-title, .tasks__show-title
  justify-content: space-between
  
.tasks__show-title
  display: flex
  align-items: center

textarea.tasks__form-content
  height: 500px