// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.tasks__index-button, .tasks__index-table-button, .tasks__show, .tasks__form-button, .tasks__show-button
  text-align: right

.tasks__new-title
  justify-content: space-between

textarea.tasks__form-content
  height: 500px